<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niulijie.springboot.mapper.DaPrLocationDictMapper">

    <insert id="insertList">
        insert ignore into da_pr_location_dict (loc_type_code,loc_type_name,create_time,update_time)
        values
        <foreach collection="daPrLocations" item="list" index="index" separator=",">
            (#{list.locTypeCode},#{list.locTypeName},#{list.createTime},#{list.updateTime})
        </foreach>
    </insert>
</mapper>
